﻿@{
    ViewData["Title"] = "List Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @*<h3>Worklist Task</h3>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>username</th>
                        <th>password</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>username</th>
                        <th>password</th>
                        <th></th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Account.js"></script>
}
@*<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/js/Account.js"></script>*@


