﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h1>Create Guest</h1>
    </div>
    @using (Html.BeginForm("Create", "Guest", FormMethod.Post, new { @class = "" }))
    {
        <div class="row">
            <div class="col-md-12">
                <label for="NomorRegister" class="form-label"><b>Nomor Register</b></label>
                <input class="form-control" type="text" name="NomorRegister" id="NomorRegister" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="NamaDepan" class="form-label"><b>Nama Depan</b></label>
                <input class="form-control" type="text" name="NamaDepan" id="NamaDepan" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="NamaBelakang" class="form-label"><b>Nama Belakang</b></label>
                <input class="form-control" type="text" name="NamaBelakang" id="NamaBelakang" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="TanggalLahir" class="form-label"><b>Tanggal Lahir</b></label>
                <input class="form-control" type="date" name="TanggalLahir" id="TanggalLahir" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="TempatLahir" class="form-label"><b>Tempat Lahir</b></label>
                <input class="form-control" type="text" name="TempatLahir" id="TempatLahir" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="NomorKTP" class="form-label"><b>Nomor KTP</b></label>
                <input class="form-control" type="text" name="NomorKTP" id="NomorKTP" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="JenisKelamin">Jenis Kelamin</label>
                    <select class="form-control" id="JenisKelamin" name="JenisKelamin">
                        <option value="1">Laki - Laki</option>
                        <option value="2">Perempuan</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-primary">SAVE</button>
            </div>
        </div>

    }
</div>

