﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WEBApp.ViewModels.CreateGuestViewModel
<div class="container">
    <div class="row">
        <h1>Create Guest</h1>
    </div>
    @using (Html.BeginForm("Update", "Guest", FormMethod.Post))
    {
        <input class="form-control" type="hidden" name="Id" id="Id" value="@Model.Id" required>

        <div class="row">
            <div class="col-md-12">
                <label for="NomorRegister" class="form-label"><b>Nomor Register</b></label>
                <input class="form-control" type="text" name="NomorRegister" id="NomorRegister" value="@Model.NomorRegister" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="NamaDepan" class="form-label"><b>Nama Depan</b></label>
                <input class="form-control" type="text" name="NamaDepan" id="NamaDepan" value="@Model.NamaDepan" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="NamaBelakang" class="form-label"><b>Nama Belakang</b></label>
                <input class="form-control" type="text" name="NamaBelakang" id="NamaBelakang" value="@Model.NamaBelakang" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="TanggalLahir" class="form-label"><b>Tanggal Lahir</b></label>
                <input class="form-control" type="date" name="TanggalLahir" id="TanggalLahir" value="@Model.TanggalLahir?.ToString("yyyy-MM-dd")" required>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="TempatLahir" class="form-label"><b>Tempat Lahir</b></label>
                <input class="form-control" type="text" name="TempatLahir" id="TempatLahir" value="@Model.TempatLahir" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="NomorKTP" class="form-label"><b>Nomor KTP</b></label>
                <input class="form-control" type="text" name="NomorKTP" id="NomorKTP" value="@Model.NomorKTP" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="JenisKelamin">Jenis Kelamin</label>
                    @Html.DropDownList("JenisKelamin", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Laki - Laki", Value = "1" },
                    new SelectListItem { Text = "Perempuan", Value = "2" },
                    new SelectListItem { Text = "Lainnya", Value = "3" }
                    }, new { @class = "form-control" })

                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-primary">SAVE</button>
            </div>
        </div>

    }
</div>

