﻿@{
    ViewData["Title"] = "List Tamu";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>List Tamu</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <a class="btn btn-primary" asp-controller="Guest" asp-action="Create">ADD</a>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nomor Register</th>
                        <th>Nama Depan</th>
                        <th>Nama Belakang</th>
                        <th>Tanggal Lahir</th>
                        <th>Tempat Lahir</th>
                        <th>Jenis Kelaminr</th>
                        <th>NO KTP</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nomor Register</th>
                        <th>Nama Depan</th>
                        <th>Nama Belakang</th>
                        <th>Tanggal Lahir</th>
                        <th>Tempat Lahir</th>
                        <th>Jenis Kelaminr</th>
                        <th>NO KTP</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Tamu.js"></script>
}


