﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">
    <div class="row">
        <h1>Login</h1>
        @*<p>Please fill in this form to create an account.</p>*@
    </div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <label for="username" class="form-label"><b>Username</b></label>
                <input class="form-control" type="text" placeholder="Enter Username" name="Username" id="username" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="password" class="form-label"><b>Password</b></label>
                <input class="form-control" type="password" placeholder="Enter Password" name="Password" id="password" required>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <button type="button" class="btn btn-outline-primary" onclick="login()">Login</button>
            </div>
        </div>
        
    }
</div>

<div class="container signin">
    <p>not have an account? <a href="@Url.Action("Register","Account")">Sign up</a>.</p>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="~/lib/sweetalert2/sweetalert2.js"></script>
<link href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

<script>
    var apiLoginUrl = window.apiLoginUrl, mainMenuUrl = window.mainMenuUrl,
        loginUrl = window.loginUrl;

    var link = mainMenuUrl;

    function login() {
        var r = { 
            Username: $("#username").val(), 
            Password: $("#password").val() 
        };
        if (r.username != "" && r.password != "") {
            $.ajaxSetup({ cache: !1 }),
                $.ajax({
                    url: window.loginUrl,
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(r),
                    contentType: "application/json",
                    success: function (e) {
                        if (e.isSuccess == true) {
                            console.log(mainMenuUrl);
                            (createCookie("token", e.data.token, 1), window.location.href = mainMenuUrl)

                        } else {

                            var message = "Invalid Username or Password.";

                            if (e.message) {
                                message = e.message;
                            }

                            Swal.fire({
                                icon: 'error',
                                title: 'Invalid Credentials!',
                                text: message
                            })
                        }
                    },
                    error: function (err) {

                        Swal.fire({
                            icon: 'error',
                            title: 'Invalid Credentials!',
                            text: 'Invalid Username or Password.'
                        })
                    }
                })
        }
    }

    function createCookie(e, r, n) { var o = new Date; o.setTime(o.getTime() + 24 * n * 60 * 60 * 1e3), document.cookie = e + "=" + r + "; expires=" + o.toGMTString() + "; path=/" }

    

    

    $(document).ready(function () {
        var inputPassword = document.getElementById("txtPassword");
        if (inputPassword) {
            inputPassword.addEventListener("keypress", function (event) {
                if (event.key == "Enter") {
                    event.preventDefault();
                    login();
                }
            })
        }

    });
</script>