﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">
    <div class="row">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
    </div>
    @using (Html.BeginForm("SubmitRegister", "Account", FormMethod.Post, new { @class = ""}))
    {
        <div class="row">
            <div class="col-md-12">
                <label for="username" class="form-label"><b>Username</b></label>
                <input class="form-control" type="text" placeholder="Enter Username" name="Username" id="username"  required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="password" class="form-label"><b>Password</b></label>
                <input class="form-control" type="password" placeholder="Enter Password" name="Password" id="password" onchange="onChangePassword()" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="password-repeat" class="form-label"><b>Repeat Password</b></label>
                <input class="form-control" type="password" placeholder="Enter Repeat Password" name="RepeatPassword" id="password-repeat" onchange="onChangePassword()" required>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-primary">Register</button>
            </div>
        </div>
        
    }
</div>
<div class="container signin">
    <p>Already have an account? <a href="@Url.Action("Login","Account")">Sign in</a>.</p>
</div>
<script>
    function onChangePassword() {
        const password = document.querySelector('input[name=Password]');
        const confirm = document.querySelector('input[name=RepeatPassword]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match');
        }
    }
</script>